.container {
    margin-bottom: 5rem;
    max-width: 1200px; /* 컨테이너의 최대 너비 */
    padding: 0 15px; /* 좌우 여백 추가 */
    overflow-x: auto; /* 스크롤 가능 */
}


h1 {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 1.5rem;
}

h2 {
    font-size: 1.8rem;
    font-weight: bold;
    margin-top: 2rem;
    margin-bottom: 1rem;
}

.list-group-item {
    font-size: 1rem;
}

.table {
    width: 100%; /* 테이블이 컨테이너를 꽉 채우도록 설정 */
    margin-bottom: 1rem; /* 아래 여백 추가 */
    border-collapse: collapse; /* 테이블 셀 간 간격 제거 */
}

.table th,
.table td {
    text-align: center;
    vertical-align: middle;
    word-wrap: break-word; /* 긴 텍스트 줄바꿈 */
    padding: 0.75rem; /* 셀 여백 */
}

.table th {
    font-weight: bold;
    background-color: #f1f1f1;
}

.table-responsive {
    display: block;
    width: 100%;
    overflow-x: auto; /* 테이블 스크롤 허용 */
    -webkit-overflow-scrolling: touch;
}

.btn {
    font-size: 0.9rem;
}

.btn-sm {
    padding: 0.25rem 0.5rem;
    font-size: 0.85rem;
}


