/*똑같은 코드 여러개 해둬서 일치 시키려니 화병 나서 합치도록 하겠음. 유지보수하기 좋겟죠?*/

@import url('https://fonts.googleapis.com/css2?family=Gothic+A1:wght@100;200;300;400;500;600;700;800;900&family=Krona+One&display=swap');
/*네비게이션 바*/
.navbar {
    margin-bottom: 0; 
    font-weight: bold;
    background-color: #333;
}

.navbar-brand {
    font-family: "Krona One", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 2rem;
    color: #fff !important;
}

.navbar-toggler {
    border: none;
}

.navbar-toggler-icon {
    background-color: #fff;
}

.nav-link {
    font-size: 1.5rem;
    font-weight: 400;
    color: #fff !important;
    transition: color 0.2s ease-in-out;
}

.nav-link:hover {
    color: #d1f2eb  !important;
}



.krona-one-regular {
    font-family: "Krona One", serif;
    font-weight: 400;
    font-style: normal;
  }

.gothic-a1-regular {
    font-family: "Gothic A1", serif;
    font-weight: 400;
    font-style: normal;
    line-height: 1; 
  }

  .gothic-a1-bold {
    font-family: "Gothic A1", serif;
    font-weight: 600;
    font-style: normal;
  }

/* 전체 페이지 레이아웃 */
body {
    padding-top: 5rem; 
    background-color: #f8f9fa;
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* 화면 전체 높이 확보 */
    margin: 0;
}

/* 메인 콘텐츠 */
.content {
    flex: 1; /* 콘텐츠가 푸터 위를 채우도록 설정 */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2rem auto;
}

/* 푸터 스타일 */
footer {
    background-color: #333;
    font-family: "Krona One", serif; 
    font-weight: 300; 
    font-style: normal;
    font-size: 1rem; 
    color: #fff; 
    display: flex;
    height: 80px; 
    justify-content: center; /* 텍스트는 가운데 정렬 */
    align-items: center; 
    margin-top: auto; 
    width: 100%;
    position: relative;
}

.footer-content {
    display: flex;
    justify-content: center; /* 텍스트를 가운데 정렬 */
    align-items: center;
    width: 100%; /* 전체 너비 사용 */
    position: relative;
}

.github-link {
    position: absolute;
    right: 2rem; /* 푸터의 오른쪽으로 배치 */
    display: flex;
    align-items: center;
}

.github-icon {
    width: 40px; 
    height: auto;
}

.footer-text {
    text-align: center;
    font-size: 0.8rem; /* 텍스트 크기 */
}



