.student-list {
    float: right;
    padding: 20px;
    width: 250px;
    background-color: #f8f9fa;
    border: 1px solid #ddd;
    margin-left: 20px;
    max-height: 300px; /* 최대 높이 설정 */
    overflow-y: auto; /* 세로 방향 스크롤 추가 */
}

.student-list h3 {
    text-align: center;
}

.student-list ul {
    list-style-type: none;
    padding: 0;
}

.student-list li {
    padding: 5px;
    border-bottom: 1px solid #ddd;
}

.navbar {
    margin-bottom: 0; /* 네비게이션 바 아래 간격 제거 */
    font-weight: bold;
    background-color: #343a40;
    border-bottom: 2px solid #007bff;
}

.navbar-brand {
    font-size: 2rem;
    font-weight: bold;
    color: #fff !important;
}

.navbar-toggler {
    border: none;
}

.navbar-toggler-icon {
    background-color: #fff;
}

.nav-link {
    font-weight: bold;
    color: #fff !important;
    transition: color 0.2s ease-in-out;
}

.nav-link:hover {
    color: #007bff !important;
}

.content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: left;
    margin-top: 3rem; /* 추가 여백 */
}