/* 학생 목록 스타일 */
.student-list {
    float: right;
    padding: 20px;
    width: 250px;
    background-color: #f8f9fa;
    border: 1px solid #ddd;
    margin-left: 20px;
    max-height: 300px;
    overflow-y: auto; /* 세로 스크롤 */
}

.student-list h3 {
    text-align: center;
    margin-bottom: 10px; /* 제목과 목록 간 간격 추가 */
}

.student-list ul {
    list-style: none; /* 기본 목록 스타일 제거 */
    padding: 0;
    margin: 0; /* 불필요한 여백 제거 */
}

.student-list li {
    padding: 5px;
    border-bottom: 1px solid #ddd;
}

.student-list li:last-child {
    border-bottom: none; /* 마지막 항목의 테두리 제거 */
}

.dashboard-page .content {
    justify-content: flex-start; /* 수직 방향의 시작 부분으로 정렬 */
    align-items: flex-start; /* 수평 방향의 시작 부분으로 정렬 */
    margin-top: 0; 
}

