body {
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
}

.navbar {
    margin-bottom: 20rem;
}

.container {
    max-width: 600px;
    margin-top: 7rem;
    margin-bottom: 10rem;
}

.card {
    border: none;
    border-radius: 10px;
    padding: 20px;
    background-color: #ffffff;
    margin-top: 20px;
}

.card-title {
    font-size: 1.8rem;
    font-weight: bold;
    color: #343a40;
}

.alert {
    font-size: 1rem;
    margin-top: 20px;
}

.btn-primary {
    font-size: 1rem;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #007bff; /* 기본 파란색 */
    color: #ffffff; /* 흰색 텍스트 */
    border: none;
    transition: background-color 0.3s ease, transform 0.3s ease; /* 부드러운 애니메이션 */
}

.btn-primary:hover {
    background-color: #0056b3; /* 더 진한 파란색 */
    transform: scale(1.05); /* 살짝 커지는 효과 */
}

